body {
    background-image: url(./images/homeBackground.jpeg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
img {
    position: absolute;
    top: 1%;
    left: 65%;
    height: 60%;
    width: 34%;
    z-index: -5;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#wrapper {
    display: flex;
}
#make {
    display: flex;
    width: 65%;
}
h1 {
    color: white;
    margin: 0px;
    font-size: 6em;
    height: 200px;
    flex: 0 0 45%;
}
#design {
    font-size: 2.2em;
    position: absolute;
    top: 17%;
}
h2 {
    color: white;
    float: right;
    height: 200px;
    font-size: 4em;
    font-style: italic;
    padding-top: 50px;
    margin: 0px;
    flex: 1;
}
h3 {
    color: white;
    font-size: 2.5em;
    margin:0px;
    margin-left: 15px;
}
h4 {
    color: white;
    font-size: 1.9em;
    margin-top:15px;
    margin-left: 15px;
    margin-bottom: 5px;
}
#size {
    flex: 0 0 25%;
    color: white;
}
#type {
    flex: 1;
    color: white;
}
input {
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    font-size: 1.5em;
    width: 27%;
    background-color: rgba(255,255,255,0.6);
    font-family: 'Poppins', sans-serif;
}
#getsize {
    vertical-align: middle;
    margin-left: 17%;
    margin-right: 0%;
    height: 20px;
    width: 20px;
}
#submit {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    top: 83%;
    left: 67%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
}
#err {
    color: white;
    font-size: 1.5em;
}
label {
    width: 5%;
    padding-left: 5px;
    margin-right: 0%;
    font-size: 1.5em;
}
#drop {
    height: 15%;
    border-radius: 10px;
    width: 25%;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.5);
    margin-left: 10%;
    color: white;
    font-size: 1.2em;
    text-align: center;
}
#message {
    flex: 0 0 40%;
    color: white;
    font-size: 1.7em;
    background-color: rgba(0,0,0,0.5);
    width: fit-content;
    border-radius: 20px;
    padding-left: 30px;
}
#orderdetail {
    width: 20%;
    height: 40%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-left: 2%;
    border-radius: 20px;
    text-align: center;
    font-size: 1.7em;
}

